{{ define "main" }}
<!--
SPDX-FileCopyrightText: 2024 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

<section class="section pb-0">
  <div class="container text-center">
    <h1 class="display-3">{{ (.GetPage (path.Join "projects" .Title)).Title }} News</h1>
  </div>
</section>

<section class="section">
  <div class="container">
    {{ range (.Paginate .Data.Pages).Pages }}
    {{ partial "horizontal-card.html" . }}
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </div>
</section>
{{ end }}
