// SPDX-FileCopyrightText: 2023 CERN (home.cern)
//
// SPDX-License-Identifier: BSD-3-Clause

@import 'search';

@import 'gallery-slider';

.search-toggle {
  background-color: transparent;
  border: 0;
  font-size: 22px;

  &:hover {
    color: $primary-color;
  }
}

.gallery-slider {
  .swiper-button-prev,
  .swiper-button-next {
    color: $primary-color;
  }
}
