// SPDX-FileCopyrightText: 2023 CERN (home.cern)
//
// SPDX-License-Identifier: BSD-3-Clause

@import 'search';

.search-toggle {
    background-color: transparent;
    border: 0;
    font-size: 22px;

    &:hover {
        color: $primary-color;
    }
}
