# SPDX-FileCopyrightText: 2024 CERN (home.cern)
#
# SPDX-License-Identifier: BSD-3-Clause

# Hugo
public/
/src/hugo/resources/_gen/
.hugo_build.lock

# Python
__pycache__/
.venv/

# Composer
/src/hugo/content/projects/
/src/hugo/content/news/
/src/hugo/content/project/
