# SPDX-FileCopyrightText: 2025 CERN (home.cern)
#
# SPDX-License-Identifier: BSD-3-Clause

# Hugo
public/
/src/hugo/resources/_gen/
.hugo_build.lock

# Python
__pycache__/
.pytest_cache/
.venv/

# Composer
/src/hugo/content/projects/*.md
!/src/hugo/content/projects/_index.md
/src/hugo/content/news/*.md
!/src/hugo/content/news/_index.md
/src/hugo/content/redirects/*.md
!/src/hugo/content/redirects/_index.md
