# SPDX-FileCopyrightText: 2024 CERN (home.cern)
#
# SPDX-License-Identifier: BSD-3-Clause

# Hugo
public/
/src/hugo/resources/_gen/
.hugo_build.lock

# Python
__pycache__/
.pytest_cache/
.venv/

# Composer
/src/hugo/content/projects/*.md
!/src/hugo/content/projects/_index.md
/src/hugo/content/news/*.md
!/src/hugo/content/news/_index.md
/src/hugo/content/project/
/src/hugo/content/cern_ohl_p_v2.pdf/
/src/hugo/content/cern_ohl_p_v2.txt/
/src/hugo/content/cern_ohl_s_v2.pdf/
/src/hugo/content/cern_ohl_s_v2.txt/
/src/hugo/content/cern_ohl_w_v2.pdf/
/src/hugo/content/cern_ohl_w_v2.txt/
