# SPDX-FileCopyrightText: 2024 CERN (home.cern)
#
# SPDX-License-Identifier: BSD-3-Clause

pydantic==2.7.0
PyYAML==6.0.1
email_validator==2.1.1
reuse==3.0.1
wemake-python-styleguide==0.19.2
yamllint==1.35.1
