# SPDX-FileCopyrightText: 2024 CERN (home.cern)
#
# SPDX-License-Identifier: BSD-3-Clause

pydantic==2.10.4
PyYAML==6.0.2
email_validator==2.2.0
requests==2.32.3
reuse==4.0.3
wemake-python-styleguide==0.19.2
yamllint==1.35.1
