<!--
SPDX-FileCopyrightText: 2023 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

{{ with .Site.Taxonomies.topics.Get ( urlize .Page.Name ) }}
<h3 class="text-center">Latest News</h3>
<div class="latest-news">
  {{ range (first 3 .Pages) }}
  <div class="card border-0 shadow-lg mb-4">
    {{ if .Params.images }}
    <div class="row">
      <div class="col-md-3">
        <img src="{{ index .Params.images 0 | relURL }}" class="m-3 w-100 mh-100 rounded">
      </div>
      <div class="col-md-9 p-0">
    {{ end }}
        <div class="card-body">
          <h4><a href="{{ .Permalink }}" title="{{ .Title }}" class="post-title">{{ .Title }}</a></h4>
          <time>{{ .Date.Format "Jan 2, 2006" }}</time>
          <p class="card-text">{{ .Summary }}</p>
          <a href="{{ .Permalink }}" title="{{ i18n "readmore" }} - {{ .Title }}" class="btn btn-primary btn-sm">
            {{ i18n "readmore" }}
          </a>
        </div>
    {{ if .Params.images }}
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
  <div class="text-center"><a href="{{ .Page.Permalink }}" class="btn btn-primary btn-sm">See All News</a></div>
</div>
{{ end }}
