<!--
SPDX-FileCopyrightText: 2023 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

{{ $page := .Page }}
{{ $project := .Get 0 }}

{{ with index .Site.Data.projects $project }}
<div class="card border-0 shadow-lg">
  <div class="card-body mb-0">
    <div class="row justify-content-between project-banner">
      <div class="col-auto mb-1">
        {{ with .website }}
        <a href="{{ . }}" target="_blank" rel="noopener noreferrer" class="badge btn-primary mb-0">
          <i class="fas fa-globe mb-0"></i> Project Website
        </a>
        {{ end }}
      </div>
      <div class="col-auto mb-1">
        {{ with .latest_release }}
        <a href="{{ . }}" target="_blank" rel="noopener noreferrer" class="badge mb-0" title="Latest Release">
          <i class="fas fa-rocket mb-0"></i>
        </a>
        {{ end }}
        {{ with .documentation }}
        <a href="{{ . }}" target="_blank" rel="noopener noreferrer" class="badge mb-0" title="Documentation">
          <i class="fas fa-book-open mb-0"></i>
        </a>
        {{ end }}
        {{ with .url }}
        <a href="{{ . }}" target="_blank" rel="noopener noreferrer" class="badge mb-0" title="Repository">
          <i class="fab fa-git-alt mb-0"></i>
        </a>
        {{ end }}
        {{ with .issues }}
        <a href="{{ . }}" target="_blank" rel="noopener noreferrer" class="badge mb-0" title="Issues">
          <i class="fas fa-bug mb-0"></i>
        </a>
        {{ end }}
        {{ with .forum }}
        <a href="{{ . }}" target="_blank" rel="noopener noreferrer" class="badge mb-0" title="Forum">
          <i class="fas fa-comments mb-0"></i>
        </a>
        {{ end }}
      </div>
    </div>
    {{ .description | $page.RenderString (dict "display" "block") }}
    {{ with .links }}
    <h3 class="section-title">Links</h3>
    <ul>
      {{ range . }}
      <li><a href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ .name }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
    {{ with .licenses }}
    <h3 class="section-title">Licenses</h3>
    <ul class="fa-ul mb-0">
      {{ range . }}
      <li><i class="fa-li fa fa-balance-scale"></i><a href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ .name }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</div>
{{ end }}

