<!--
SPDX-FileCopyrightText: 2023 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

{{ with (index .Site.Data.projects (.Get 0)) }}
{{ with .description }}
<p>{{ . | markdownify }}</p>
{{ end }}
{{ with .website }}
<h3 class="section-title">Website</h3>
<p><a href="{{ . }}">{{ . }}</a></p>
{{ end }}
{{ with .licenses }}
<h3 class="section-title">Licenses</h3>
<ul>
  {{ range . }}
  <li>{{ . }}</li>
  {{ end }}
</ul>
{{ end }}
{{ with .repository }}
<h3 class="section-title">Repository</h3>
<p><a href="{{ . }}">{{ . }}</a></p>
{{ end }}
{{ with .documentation }}
<h3 class="section-title">Documentation</h3>
<p><a href="{{ . }}">{{ . }}</a></p>
{{ end }}
{{ with .issues }}
<h3 class="section-title">Issues</h3>
<p><a href="{{ . }}">{{ . }}</a></p>
{{ end }}
{{ with .latest_release }}
<h3 class="section-title">Latest Release</h3>
<p><a href="{{ . }}">{{ . }}</a></p>
{{ end }}
{{ with .forum }}
<h3 class="section-title">Forum</h3>
<p><a href="{{ . }}">{{ . }}</a></p>
{{ end }}
{{ with .news }}
<h3 class="section-title">News</h3>
<p><a href="{{ . }}">{{ . }}</a></p>
{{ end }}
{{ with .links }}
<h3 class="section-title">Links</h3>
<ul>
  {{ range . }}
  <li><a href="{{ .url }}">{{ .name }}</a></li>
  {{ end }}
</ul>
{{ end }}
{{ end }}
<div class="latest-news">
  {{ with (path.Join "/news" .Page.File.ContentBaseName | site.GetPage) }}
  <div class="row align-items-center mb-4">
    <div class="col">
      <h3>Latest News</h3>
    </div>
    <div class="col text-right">
      <a href="{{ .Permalink }}" class="btn btn-primary btn-sm">See All News</a>
    </div>
  </div>
  {{ range (first 3 .RegularPages.ByDate.Reverse) }}
  <div class="card border-0 shadow-lg mb-4">
    {{ if .Params.image }}
    <div class="row">
      <div class="col-md-3">
        <img src="{{ .Params.image | relURL }}" class="m-3 w-100 mh-100 rounded">
      </div>
      <div class="col-md-9 p-0">
    {{ end }}
        <div class="card-body">
          <h4><a href="{{ .Permalink }}" title="{{ .Title }}" class="post-title">{{ .Title }}</a></h4>
          <time>{{ .Date.Format "Jan 2, 2006" }}</time>
          <p class="card-text">{{ .Summary }}</p>
          <a href="{{ .Permalink }}" title="{{ i18n "readmore" }} - {{ .Title }}" class="btn btn-primary btn-sm">
            {{ i18n "readmore" }}
          </a>
        </div>
    {{ if .Params.image }}
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
  {{ end }}
</div>
