<!--
SPDX-FileCopyrightText: 2023 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

{{ with index .Site.Data.projects (.Get 0) }}
<div class="row project-links mx-auto">
  {{ with .website }}
  <div class="col-auto align-self-center p-1 m-0">
    <a href="{{ . }}" class="badge btn-primary m-0">
      <i class="fas fa-globe m-0"></i> Project Website
    </a>
  </div>
  {{ end }}
  {{ with .documentation }}
  <div class="col-auto align-self-center p-1 m-0">
    <a href="{{ . }}" class="badge badge-secondary m-0">
      <i class="fas fa-book-open m-0"></i> Documentation
    </a>
  </div>
  {{ end }}
  {{ with .url }}
  <div class="col-auto align-self-center p-1 m-0">
    <a href="{{ . }}" class="badge badge-secondary m-0">
      <i class="fab fa-git-alt m-0"></i> Repository
    </a>
  </div>
  {{ end }}
  {{ with .issues }}
  <div class="col-auto align-self-center p-1 m-0">
    <a href="{{ . }}" class="badge badge-secondary m-0">
      <i class="fas fa-bug m-0"></i> Issues
    </a>
  </div>
  {{ end }}
  {{ with .latest_release }}
  <div class="col-auto align-self-center p-1 m-0">
    <a href="{{ . }}" class="badge badge-secondary m-0">
      <i class="fas fa-cube m-0"></i> Latest Release
    </a>
  </div>
  {{ end }}
  {{ with .forum }}
  <div class="col-auto align-self-center p-1 m-0">
    <a href="{{ . }}" class="badge badge-secondary m-0">
      <i class="fab fa-discourse m-0"></i> Forum
    </a>
  </div>
  {{ end }}
</div>
{{ .description | markdownify }}
{{ with .links }}
<h3 class="section-title">Links</h3>
<ul>
  {{ range . }}
  <li><a href="{{ .url }}">{{ .name }}</a></li>
  {{ end }}
</ul>
{{ end }}
{{ with .licenses }}
<h3 class="section-title">Licenses</h3>
<div class="project-links">
{{ range . }}
  <a href="{{ .url }}" class="badge badge-secondary m-1">
    <i class="fas fa-balance-scale m-0"></i> {{ .name }}
  </a>
{{ end }}
</div>
{{ end }}
{{ end }}
{{ with (path.Join "/news" .Page.File.ContentBaseName | site.GetPage) }}
<h3>Latest News</h3>
<div class="latest-news">
  {{ range (first 3 .RegularPages.ByDate.Reverse) }}
  <div class="card border-0 shadow-lg mb-4">
    {{ if .Params.image }}
    <div class="row">
      <div class="col-md-3">
        <img src="{{ .Params.image | relURL }}" class="m-3 w-100 mh-100 rounded">
      </div>
      <div class="col-md-9 p-0">
    {{ end }}
        <div class="card-body">
          <h4><a href="{{ .Permalink }}" title="{{ .Title }}" class="post-title">{{ .Title }}</a></h4>
          <time>{{ .Date.Format "Jan 2, 2006" }}</time>
          <p class="card-text">{{ .Summary }}</p>
          <a href="{{ .Permalink }}" title="{{ i18n "readmore" }} - {{ .Title }}" class="btn btn-primary btn-sm">
            {{ i18n "readmore" }}
          </a>
        </div>
    {{ if .Params.image }}
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
  <div class="text-center"><a href="{{ .Permalink }}" class="btn btn-primary btn-sm">See All News</a></div>
</div>
{{ end }}
