<!--
SPDX-FileCopyrightText: 2023 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

<div class="row">
  <div class="col-1">
    <a class="carousel-control-prev w-100" href="#featured" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
  </div>
  <div class="col-10">
    <div id="featured" class="carousel slide mb-5" data-ride="carousel">
      <div class="carousel-inner">
        {{ range $index, $page := . }}
        <div class="carousel-item {{ if (eq $index 0) }}active{{ end }}">
          {{ if $page.Params.images }}
          <div class="row h-100">
            <div class="col-md-6 h-100">
              <a href="{{ $page.Permalink }}">
                <img src="{{ index $page.Params.images 0 | relURL }}" class="mh-100 mw-100 m-auto position-absolute rounded-lg">
              </a>
            </div>
            <div class="col-md-6">
          {{ end }}
              <h3><a href="{{ $page.Permalink }}" title="{{ $page.Title }}" class="post-title">{{ $page.Title }}</a></h3>
              <p class="card-text">{{ $page.Summary }}</p>
              <a href="{{ $page.Permalink }}" title="{{ i18n "readmore" }} - {{ $page.Title }}" class="btn btn-primary">{{ i18n "readmore" }}</a>
          {{ if $page.Params.images }}
            </div>
          </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="col-1">
    <a class="carousel-control-next w-100" href="#featured" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
