<!--
SPDX-FileCopyrightText: 2024 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

<footer class="bg-light section pb-0">
  <div class="container">
    <div class="row">
      {{ range slice
        site.Menus.footer_left
        site.Menus.footer_middle
        site.Menus.footer_right
      }}
      <div class="col-md-3 col-sm-6 mb-5">
        <ul class="list-unstyled footer-list">
          {{ range . }}
          <li>
            {{ partial "link.html" (dict
              "href" (.URL | relLangURL)
              "text" .Name)
            }}
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      <div class="col-md-3 col-sm-6 mb-5">
        <a class="d-block h3 mb-3" href="{{ site.BaseURL | absLangURL }}">
          <img
            width="{{ site.Params.logo_width }}"
            class="img-fluid"
            src="{{ site.Params.logo | relURL }}">
        </a>
      </div>
    </div>
  </div>
</footer>

{{ if .Params.search }}
<script
  id="search-script"
  src="{{ (resources.Get `js/search.js`).RelPermalink }}"
  type="module">
</script>
{{ end }}
