<!--
SPDX-FileCopyrightText: 2024 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

<meta charset="utf-8">
<title>{{ .Title | default site.Title }}</title>

{{ if ne site.BaseURL "http://localhost:1313/" }}
<base href="{{ site.BaseURL }}">
{{ end }}
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<link
  rel="shortcut icon"
  href="{{ site.Params.favicon | absURL }}"
  type="image/x-icon">
<link
  rel="icon"
  href="{{ site.Params.favicon | absURL }}"
  type="image/x-icon">
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=5">
<meta
  name="msapplication-TileColor"
  content="{{ site.Params.variables.primary_color | default `#da532c` }}">
<meta
  name="theme-color"
  content="{{ site.Params.variables.body_color | default `#ffffff` }}">
