<!--
SPDX-FileCopyrightText: 2024 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

<header class="navigation">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" href="{{ site.BaseURL | absLangURL }}">
        <img 
          width="{{ site.Params.logo_width }}"
          class="img-fluid"
          src="{{ site.Params.logo | relURL }}">
      </a>
      <button
        class="navbar-toggler border-0"
        type="button"
        data-toggle="collapse"
        data-target="#navigation"
        aria-label="menu">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav mx-auto">
          {{ range site.Menus.main }}
          <li class="nav-item">
            {{ partial "link.html" (dict
              "href" (.URL | relLangURL)
              "text" .Name
              "class" "nav-link")
            }}
          </li>
          {{ end }}
        </ul>
      </div>
    </nav>
    {{ if .IsSection }}
    <div class="row justify-content-center py-3">
      <button
        class="secondary-button col-1 rounded-left border-0 text-white p-0"
        data-toggle="collapse"
        href="#search-filters">
        <i class="fas fa-filter"></i>
      </button>
      <div class="col-6 p-0">
        <input
          id="search-input"
          class="search-input form-control row m-0 rounded-0"
          placeholder="{{ .Params.search.placeholder }}">
        <div
          id="search-suggestions"
          class="search-suggestions position-absolute w-100 collapse">
          <div class="bg-light pl-1">
            <small class="font-italic text-muted">
              Suggested {{ .Params.search.filter }}:
            </small>
          </div>
        </div>
      </div>
      <button
        id="search-button"
        class="search-button col-1 rounded-right border-0 text-white p-0">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <div id="search-filters" class="collapse"></div>
    {{ end }}
  </div>
</header>
