<!--
SPDX-FileCopyrightText: 2024 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

<div class="card interactive-card border-0 shadow-lg mb-4">
  {{ if .Params.images }}
  <div class="row">
    <div class="col-md-3">
      <img src="{{ index .Params.images 0 | relURL }}" class="m-3 w-100 mh-100 rounded">
    </div>
    <div class="col-md-9 p-0 position-static">
  {{ end }}
      <div class="card-body">
        {{ if .Params.newsfeeds }}
        {{ with .GetPage (path.Join "projects" .Params.newsfeeds) }}
        <h6><i class="fas fa-rss"></i><span class="ml-1">{{ .Title }}</span></h6>
        {{ end }}
        {{ end }}
        <h3><a href="{{ .Permalink }}" title="{{ .Title }}" class="stretched-link post-title">{{ .Title }}</a></h3>
        {{ with .Params.Date }}
        <time>{{ .Format "Jan 2, 2006" }}</time>
        {{ end }}
        <p class="card-text">{{ .Summary }}</p>
      </div>
  {{ if .Params.images }}
    </div>
  </div>
  {{ end }}
</div>
