<!--
SPDX-FileCopyrightText: 2024 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

<div class="col-lg-4 col-sm-6 mb-5">
  <div class="card interactive-card shadow-lg border-0 h-100">
    <div class="card-body d-flex flex-column">
      <div class="mb-3 position-relative" style="aspect-ratio: 4 / 3;">
        {{ if .Params.images }}
        <img src="{{ index .Params.images 0 | relURL }}" class="mh-100 mw-100 position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
        {{ else }}
        <svg width="400" height="300" xmlns="http://www.w3.org/2000/svg" class="mh-100 mw-100 position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
          <circle cx="50%" cy="50%" r="100" fill="hsl({{ mod (hash.FNV32a .Title) 360 }}, 50%, 30%)"/>
          <text x="50%" y="50%" dy=".35em" text-anchor="middle" font-size="100" fill="#FFFFFF" font-family="Arial, sans-serif">{{ substr .Title 0 1 | upper }}</text>
        </svg>
        {{ end }}
      </div>
      <h3><a href="{{ .Permalink }}" title="{{ .Title }}" class="stretched-link post-title">{{ .Title }}</a></h3>
      <p class="card-text">{{ .Summary }}</p>
    </div>
  </div>
</div>
