<!--
SPDX-FileCopyrightText: 2024 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

<section class="section p-0">
  <div class="container">
    <div class="row justify-content-center py-3">
      <button
        class="search-filter-menu-button col-1 rounded-left border-0 text-white p-0"
        data-toggle="collapse"
        href="#search-filter-menu">
        <i class="fas fa-filter"></i>
      </button>
      <div class="col-6 p-0">
        <input
          id="search-input"
          class="search-input form-control row m-0 rounded-0"
          placeholder="{{ .placeholder }}">
        <div
          id="search-suggestions"
          class="search-suggestions position-absolute w-100 collapse">
          <div class="bg-light pl-1">
            <small class="font-italic text-muted">Suggested filters:</small>
          </div>
        </div>
      </div>
      <button
        id="search-button"
        class="search-button col-1 rounded-right border-0 text-white p-0">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <div id="search-filter-menu" class="collapse"></div>
  </div>
</section>

<script
  id="search-script"
  src="{{ (resources.Get `js/search.js`).RelPermalink }}"
  type="module"
  data-keys="{{ .keys }}"
  data-filter="{{ .filter }}">
</script>
