{{ define "main" }}

<!--
SPDX-FileCopyrightText: 2023 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

{{ partial "page-header.html" . }}

<section class="section">
  <div class="container">
    <div id="featured" class="carousel slide mb-5" data-ride="carousel">
      <div class="carousel-inner">
        {{ range $index, $project := where .Data.Pages "Params.featured" true }}
          <div class="carousel-item {{ if (eq $index 0) }}active{{ end }}">
            {{ if $project.Params.images }}
            <div class="row h-100">
              <div class="col-md-6 h-100">
                <img src="{{ index $project.Params.images 0 | relURL }}" class="mh-100 mw-100 m-auto position-absolute rounded-lg">
              </div>
              <div class="col-md-6">
            {{ end }}
                <h2><a href="{{ $project.Permalink }}" title="{{ $project.Title }}" class="post-title">{{ $project.Title }}</a></h2>
                <p class="card-text">{{ $project.Summary }}</p>
                <a href="{{ $project.Permalink }}" title="{{ i18n "readmore" }} - {{ $project.Title }}" class="btn btn-primary">{{ i18n "readmore" }}</a>
            {{ if $project.Params.images }}
            </div>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
      <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="row">
      {{ range (.Paginate .Data.Pages).Pages }}
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card shadow-lg border-0 h-100">
          {{ if .Params.images }}
          <img src="{{ index .Params.images 0 | relURL }}" class="card-img-top">
          {{ else if eq .Kind "term" }}
          {{ with index (where .Data.Pages "Params.images" "!=" nil) 0 }}
          <img src="{{ index .Params.images 0 | relURL }}" class="card-img-top">
          {{ end }}
          {{ end }}
          <div class="card-body d-flex  flex-column p-3">
            <h3><a href="{{ .Permalink }}" title="{{ .Title }}" class="post-title">{{ .Title }}</a></h3>
            <p class="card-text">{{ .Summary }}</p>
            <a href="{{ .Permalink }}" title="{{ i18n "readmore" }} - {{ .Title }}" class="btn btn-primary btn-sm mt-auto mr-auto">{{ i18n "readmore" }}</a>
          </div>
        </div>
      </div>
      {{ end }}
      <div class="col-12">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}
