{{ define "main" }}

<!--
SPDX-FileCopyrightText: 2024 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

<section class="section">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      {{ partial "gallery.html" .Params.images }}
      <h2 class="mb-4 text-center">{{ .Title }}</h2>
      <div class="row justify-content-between">
        <div class="col-auto">
          <time>{{ .Params.Date.Format "Jan 2, 2006" }}</time>
        </div>
        <div class="col-auto">
          {{ with .Params.project }}
          {{ with index (where (where site.RegularPages "Section" "projects") "Title" .) 0 }}
          <a href="{{ .Permalink }}"><h5><i class="fas fa-rss"></i><span class="ml-1">{{ .Title }}</span></h5></a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="content text-left">{{ .Content }}</div>
    </div>
  </div>
</section>
{{ end }}
