{{ define "main" }}

<!--
SPDX-FileCopyrightText: 2023 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

{{ with .Params.banner }}
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        {{ with .image }}
        <div class="banner-img">
          <img src="{{ . | relURL }}" class="mh-100 mw-100">
        </div>
        {{ end }}
        <h1 class="mb-3">{{ .title | markdownify }}</h1>
        <p class="mb-4">{{ .content | markdownify }}</p>
        {{ with .button }}
        <div><a href="{{ .link | safeURL }}" class="btn btn-primary">{{ .label }}</a></div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ range $index, $page := .Params.summaries }}
<section class="section {{if modBool $index 2}}bg-light{{ end }}">
  <div class="container">
    {{ with site.GetPage $page.path }}
    {{ if .IsPage }}
    <div class="row align-items-center">
      {{ if .Params.image }}
      <div class="col-md-6">
      {{ end }}
        <h2><a href="{{ .Permalink }}" class="post-title">{{ $page.title | markdownify }}</a></h2>
        <p>{{ .Summary }}</p>
        {{ if $page.button }}
        <a href="{{ .Permalink }}" class="btn btn-primary">{{ $page.button }}</a>
        {{ end }}
      {{ if .Params.image }}
      </div>
      <div class="col-md-6 mb-4 mb-md-0">
        <img src="{{ .Params.image | relURL }}" class="img-fluid">
      </div>
      {{ end }}
    </div>
    {{ else if .IsSection }}
    <h2 class="text-center mb-5">{{ $page.title | markdownify }}</h2>
    {{ with where .Pages "Params.featured" true }}
    {{ partial "featured.html" . }}
    {{ else }}
    {{ range first 3 .RegularPagesRecursive.ByDate.Reverse }}
    {{ partial "horizontal-card.html" . }}
    {{ end }}
    {{ if $page.button }}
    <div class="text-center mt-5"><a href="{{ .Permalink }}" class="btn btn-primary">{{ $page.button }}</a></div>
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}
