<!--
SPDX-FileCopyrightText: 2023 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

{{ with ( index .Site.Data.projects ( .Get 0 ) ).project }}
<div class="text-center">
        {{ if .image }}
                <img src="{{ .image | relURL }}" class="img-fluid w-75 rounded-lg">
        {{ end }}
</div>
<p>{{ .description | markdownify }}</p>
<h3 class="section-title">Website</h3>
<p>{{ .website }}</p>
<h3 class="section-title">Licenses</h3>
<ul>
        {{ range .licenses }}
        <li>{{ . }}</li>
        {{ end }}
</ul>
<h3 class="section-title">Documentation</h3>
<p>{{ .documentation }}</p>
<h3 class="section-title">Issues</h3>
<p>{{ .issues }}</p>
<h3 class="section-title">Latest Release</h3>
<p>{{ .latest_release }}</p>
<h3 class="section-title">Forum</h3>
<p>{{ .forum }}</p>
<h3 class="section-title">News</h3>
<p>{{ .news }}</p>
<h3 class="section-title">Links</h3>
<ul>
        {{ range .links }}
        <li><a href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
</ul>
<h3 class="section-title">Gallery</h3>
<div {{if gt (len .gallery) 1}} class="slider" {{end}}>
        {{ range .gallery }}
        <img src="{{ . | relURL }}">
        {{ end }}
</div>
{{ end }}
