<!--
SPDX-FileCopyrightText: 2023 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

{{ with (index .Site.Data.projects (.Get 0)).project }}
{{ with .description }}
<p>{{ . | markdownify }}</p>
{{ end }}
{{ with .website }}
<h3 class="section-title">Website</h3>
<p>{{ . }}</p>
{{ end }}
{{ with .licenses }}
<h3 class="section-title">Licenses</h3>
<ul>
  {{ range . }}
  <li>{{ . }}</li>
  {{ end }}
</ul>
{{ end }}
{{ with .repository }}
<h3 class="section-title">Repository</h3>
<p>{{ . }}</p>
{{ end }}
{{ with .documentation }}
<h3 class="section-title">Documentation</h3>
<p>{{ . }}</p>
{{ end }}
{{ with .issues }}
<h3 class="section-title">Issues</h3>
<p>{{ . }}</p>
{{ end }}
{{ with .latest_release }}
<h3 class="section-title">Latest Release</h3>
<p>{{ . }}</p>
{{ end }}
{{ with .forum }}
<h3 class="section-title">Forum</h3>
<p>{{ . }}</p>
{{ end }}
{{ with .news }}
<h3 class="section-title">News</h3>
<p>{{ . }}</p>
{{ end }}
{{ with .links }}
<h3 class="section-title">Links</h3>
<ul>
  {{ range . }}
  <li><a href="{{ .url }}">{{ .name }}</a></li>
  {{ end }}
</ul>
{{ end }}
{{ with .gallery }}
<h3 class="section-title">Gallery</h3>
<div {{if gt (len .) 1}} class="slider" {{end}}>
  {{ range . }}
  <img src="{{ . | relURL }}" class="img-fluid">
  {{ end }}
</div>
{{ end }}
{{ end }}
