{{ define "main" }}

<!--
SPDX-FileCopyrightText: 2024 CERN (home.cern)

SPDX-License-Identifier: BSD-3-Clause
-->

<section class="section">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      {{ partial "gallery.html" .Params.images }}
      <h2 class="mb-4 text-center">{{ .Title }}</h2>
      <div class="content text-left">
        <div class="card border-0 shadow-lg">
          <div class="card-body mb-0">
            <div class="row justify-content-between project-banner">
              <div class="col-auto mb-1">
                {{ with .Params.website }}
                {{ partial "link.html" (dict
                  "href" .
                  "text" `<i class="fas fa-globe mb-0"></i> Project Website`
                  "class" "badge btn-primary mb-0")
                }}
                {{ end }}
              </div>
              <div class="col-auto mb-1">
                {{ range $icon, $href := dict
                  "fas fa-rocket" .Params.latest_release
                  "fas fa-book-open" .Params.documentation
                  "fab fa-git-alt" .Params.repository
                  "fas fa-bug" .Params.issues
                  "fas fa-comments" .Params.forum
                }}
                {{ with $href }}
                {{ partial "link.html" (dict
                  "href" .
                  "text" (printf `<i class="%s mb-0"></i>` $icon)
                  "class" "badge mb-0")
                }}
                {{ end }}
                {{ end }}
              </div>
            </div>
            {{ .Content }}
            {{ with .Params.links }}
            <h3 class="section-title">Links</h3>
            <ul>
              {{ range . }}
              <li>
                {{ partial "link.html" (dict "href" .url "text" .name) }}
              </li>
              {{ end }}
            </ul>
            {{ end }}
            {{ with .Params.contact }}
            <h3 class="section-title">Contact</h3>
            <p><a href="mailto:{{ .email }}">{{ .name }}</a></p>
            {{ end }}
            {{ with .Params.licenses }}
            <h3 class="section-title">Licences</h3>
            <ul class="fa-ul">
              {{ range . }}
              <li>
                <i class="fa-li fa fa-balance-scale"></i>
                {{ partial "link.html" (dict "href" .url "text" .name) }}
              </li>
              {{ end }}
            </ul>
            {{ end }}
            {{ with .Params.tags }}
            <h3 class="section-title">Tags</h3>
            {{ range . }}
            <a href="{{ site.BaseURL }}?f={{ urlquery . }}" class="search-filter-button text-truncate" data-state="active"></i>{{ . }}</a>
            {{ end }}
            {{ end }}
          </div>
        </div>
        {{ with union (.Site.Taxonomies.compatibles.Get .Page.Params.id).Pages (where .Site.RegularPages "Params.id" "in" .Page.Params.compatibles) }}
        <h3 class="text-center">Compatible Projects</h3>
        <div class="cards-section">
          {{ range . }}
          <div class="card interactive-card border-0 shadow-lg mb-4">
            {{ if .Params.images }}
            <div class="row">
              <div class="col-md-3">
                <img src="{{ index .Params.images 0 | relURL }}" class="m-3 w-100 mh-100 rounded">
              </div>
              <div class="col-md-9 p-0">
            {{ end }}
                <div class="card-body">
                  <h4><a href="{{ .Permalink }}" title="{{ .Title }}" class="stretched-link post-title">{{ .Title }}</a></h4>
                  <p class="card-text">{{ .Params.summary }}</p>
                </div>
            {{ if .Params.images }}
              </div>
            </div>
            {{ end }}
          </div>
          {{ end }}
        </div>
        {{ end }}
        {{ if $news := where (where .Site.RegularPages "Section" "news") "Params.project" .Title }}
        <h3 class="text-center">Latest News</h3>
        <div class="cards-section">
          {{ range (first 3 $news) }}
          <div class="card interactive-card border-0 shadow-lg mb-4">
            {{ if .Params.images }}
            <div class="row">
              <div class="col-md-3">
                <img src="{{ index .Params.images 0 | relURL }}" class="m-3 w-100 mh-100 rounded">
              </div>
              <div class="col-md-9 p-0">
            {{ end }}
                <div class="card-body">
                  <h4><a href="{{ .Permalink }}" title="{{ .Title }}" class="stretched-link post-title">{{ .Title }}</a></h4>
                  <div class="mb-2"><time>{{ .Date.Format "Jan 2, 2006" }}</time></div>
                  <p class="card-text">{{ .Summary }}</p>
                </div>
            {{ if .Params.images }}
              </div>
            </div>
            {{ end }}
          </div>
          {{ end }}
          <div class="text-center"><a href="{{ (.Site.GetPage `/news`).Permalink }}?f={{ urlquery .Title }}" class="btn btn-primary btn-sm">See All News</a></div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
