---
# SPDX-FileCopyrightText: 2024 CERN (home.cern)
#
# SPDX-License-Identifier: BSD-3-Clause

name: Python Lint

on: [push, pull_request, workflow_dispatch]  # yamllint disable-line rule:truthy

jobs:
  python-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Python Lint
        uses: wemake-services/wemake-python-styleguide@1.1.0
